
__pycache__/
*.pyc

Core/runtime/
Core/archive/

*.backup
*.log

Core/security/token.json


# XDEPLOY secrets
Core/security/*
!.gitkeep

.xdeploy/
*.token
token.json
github_auth.json

# snapshots
Core/snapshots/
Core/runtime/

